html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 100%;
}

#about, #work, #contact {
  padding-top: 50px;
}

.container p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.container p.right {
  text-align: right;
}

.navbar-nav {
  li {
    & a {
    transition: 0.3s;
    }
  }
}

.btn-primary {
  transition: 0.3s;
}

footer {
  border-top: solid 2px #222;
  p, a {
    color: grey;
  }
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    color: #323232;
  }
}
